* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Consolas';
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, pink, orange, purple, dodgerblue, skyblue);
    background-size: cover;
    background-repeat: no-repeat;
}


#todoList-container {
    width: clamp(20em, 80%, 70em);
    margin-inline: auto;
    background-color: white;
    border-radius: 10px;
    padding: 2.4em 2em;
    margin-top: 5em;
}

#entry-field {
    display: flex;
    /* grid-template-columns: 90% 10%; */
    /* align-items: center; */
    gap: 1em;
    position: relative;
}

#entry-field::before {
    content: "New task...";
    font-family: fantasy;
    background-color: #fff;
    top: -.5em;
    left: 1em;
    position: absolute;
    z-index: 1;
    font-size: .8em;
    color: rgba(0, 0, 0, .5);
    padding-inline: .4em;
}

#Utask {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .5);
    flex: 1;

}

#entry-field button {
    height: 3em;
    border-radius: 5px;
    border: 0;
    padding-inline: 1.8em;
    background-color: rgba(30, 144, 255, .7);
    color: #fff;
    font-weight: 600;
    font-size: .8em;
    transition: all .4s;
}

#entry-field button:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

/* *Navigation* */
#navigation {
    padding: 1em 0;
    display: flex;
}

#navigation button {
    border: 0;
    background-color: transparent;
    color: grey;
    transition: all .6s;
    margin-inline: 1em;
    font-size: .8em;
    padding: 1em;
    border-radius: 5px;
}

#navigation button:hover {
    color: black;
    cursor: pointer;
    scale: 1.1;
    background-color: rgba(0, 0, 0, .1);
}

#navigation button.active {
    color: dodgerblue;
    background: transparent;
}

/* *To-do list* */
#tasks-container ul {
    list-style-type: none;
}

#tasks-container ul li {
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgba(200, 200, 200, .15);
    margin: 1em 0;
    padding: .7em;
    border-radius: 4px;
    gap: 1em;
    overflow: hidden;
}

#tasks-container ul li input {
    cursor: pointer;
}

#tasks-container ul li span {
    flex: 1;
}

#tasks-container ul li button {
    border: 0;
    padding: 0;
    background-color: transparent;
    transition: all .5s;
}

#tasks-container ul li button:hover {
    cursor: pointer;
    scale: 1.2;
}

#tasks-container ul li input:checked + span {
    text-decoration: line-through;
    color: rgba(0, 0, 0, .6);
    box-shadow: 0 0 50px 50px rgba(0, 0, 0, .2);
    background-color: rgba(0, 0, 0, .2);
}

/* *History Tab* */
#completed-container table {
    width: 100%;
    border-collapse: collapse;
}

#completed-container table tr:first-child {
    background-color: black;
    color: white;
}

#completed-container tr:first-child th {
    padding: 1em;
}

#completed-container tr:nth-child(even) {
    background-color: grey;
    transform: skewX(50%);
}

#completed-container tr:nth-child(odd) {
    background-color: #aaa;
}

#completed-container td, #completed-container th {
    text-align: left;
    padding: .5em;
}